@model Faultify.Report.MutationProjectReportModel

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        .ul-list { margin-top: 2%; }

        #TopTitle {
            margin-bottom: 2%;
            margin-top: 1%;
            text-align: center;
        }

        .infopanel {
            border-color: rgba(0, 0, 0, .125);
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }

        .infolist {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div>
    <h1 id="TopTitle">@Model.Name</h1>
</div>
<div class="card-header infopanel">
    <ul>
        # Test Session TestTestSessionDuration: @Model.TestDuration
    </ul>
    <ul>
        Total amount of possible mutations: @Model.TotalMutations
    </ul>
    <ul>
        # Mutants killed: @Model.TotalMutationsKilled
    </ul>
    <ul>
        # Mutants survived: @Model.TotalMutationsSurvived
    </ul>
    <ul>
        # Mutants timed out: @Model.TotalMutationsTimedOut
    </ul>
    <ul>
        # Mutations without coverage: @Model.TotalMutationsNoCoverage
    </ul>
    <ul>
        <label>
            Mutation ScorePercentage:
        </label>
        <div class="progress">
            @if (Model.ScorePercentage == 100)
            {
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: @Model.ScorePercentage%" aria-valuenow="@Model.ScorePercentage" aria-valuemin="0" aria-valuemax="100">@Model.ScorePercentage%</div>
            }
            else if (Model.ScorePercentage > 50 && Model.ScorePercentage < 80)
            {
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: @Model.ScorePercentage%" aria-valuenow="@Model.ScorePercentage" aria-valuemin="0" aria-valuemax="100">@Model.ScorePercentage%</div>
            }
            else
            {
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: @Model.ScorePercentage%" aria-valuenow="@Model.ScorePercentage" aria-valuemin="0" aria-valuemax="100">@Model.ScorePercentage%</div>
            }
        </div>
    </ul>
</div>

<div>
    @for (var i = 0; i < Model.TestProjects.Count; i++)
    {
        var testProject = Model.TestProjects[i];
        <ul>
            <div class="card-header ul-list">
                <h5 class="mb-0">
                    @testProject.TestProjectName
                    @if (testProject.MutationsKilled == testProject.TotalMutations)
                    {
                        <label class="text-success" style="float: right;">Mutants killed: @testProject.MutationsKilled / @testProject.TotalMutations </label>
                    }
                    else if (testProject.MutationsSurvived == testProject.TotalMutations)
                    {
                        <label class="text-danger" style="float: right;">Mutants killed: @testProject.MutationsKilled / @testProject.TotalMutations</label>
                    }
                    else
                    {
                        <label class="text-warning" style="float: right;">Mutants killed: @testProject.MutationsKilled / @testProject.TotalMutations</label>
                    }
                </h5>
            </div>
        </ul>
    }
</div>
</body>