@using Faultify.Reporting
@model Faultify.Reporting.MutationProjectReportModel

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-clike.min.js" integrity="sha512-xXwwAe8scUySEhtfaHNqIBors65zyXbtpUOwKjOxesrIwna3Aca9XqcomKMx22u84uRTzsx1Hm7cIM/s1XPzgQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-csharp.min.js" integrity="sha512-c+g36Rm5HvMUIjUwTcEA9iVkFtNJrCDDNubbaUEhCuHcEnXRcsnJRVjoEK1k9OryJnu5vF7IW40vjV5F1EfXRw==" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        #TopTitle {
            margin-bottom: 2%;
            margin-top: 1%;
            text-align: center;
        }

        #accordionExample {
            float: left;
            height: 100%;
            margin-left: 0.5%;
            margin-right: 0.5%;
            width: 70%;
        }

        .infopanel {
            border-color: rgba(0, 0, 0, .125);
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            float: left;
            width: 28.5%;
        }

        .infolist {
            margin: 0;
            padding: 0;
        }

        .btn:hover {
            background-color: lightgrey;
            text-decoration: none;
        }

        .btn:focus, .btn.active { text-decoration: none; }

        .btn { text-decoration: none; }
    </style>
</head>

<body>
<div>
    <h1 id="TopTitle">@Model.Name</h1>
</div>
<div>


    <div class="accordion" id="accordionExample">
        @for (var i = 0; i < Model.TestProjects.Count; i++)
        {
            var testProject = Model.TestProjects[i];
            <div class="card">
                <div class="card-header" id="headingproj@(i)" style="padding: 0%;">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseproj@(i)" aria-expanded="true" aria-controls="collapseproj@(i)" style="color: black; height: 100%; text-align: left; width: 100%;">
                            @testProject.Name
                            @if (testProject.TotalMutationsKilledProject == testProject.TotalProject)
                            {
                                <label class="text-success" style="float: right;">Mutants killed: @testProject.TotalMutationsKilledProject / @testProject.TotalProject</label>
                            }
                            else if (testProject.TotalMutationsSurvivedProject == testProject.TotalProject)
                            {
                                <label class="text-danger" style="float: right;">Mutants killed: @testProject.TotalMutationsKilledProject / @testProject.TotalProject</label>
                            }
                            else
                            {
                                <label class="text-warning" style="float: right;">Mutants killed: @testProject.TotalMutationsKilledProject / @testProject.TotalProject</label>
                            }

                        </button>
                    </h5>
                </div>

                <div id="collapseproj@(i)" class="collapse" aria-labelledby="headingproj@(i)" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="accordion" id="AccordionTestProject@(i)">
                            @for (var y = 0; y < testProject.Tests.Count; y++)
                            {
                                var test = testProject.Tests[y];
                                <div class="card">
                                    <div class="card-header" id="headingcase@(i)@(y)" style="padding: 0%;">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsecase@(i)@(y)" aria-expanded="true" aria-controls="collapsecase@(i)@(y)" style="color: black; height: 100%; text-align: left; width: 100%;">
                                                @test.Name
                                                @if (test.TotalMutationsKilledResult == test.TotalResult)
                                                {
                                                    <label class="text-success" style="float: right;">Mutants killed: @test.TotalMutationsKilledResult / @test.TotalResult</label>
                                                }
                                                else if (test.TotalMutationsSurvivedResult == test.TotalResult)
                                                {
                                                    <label class="text-danger" style="float: right;">Mutants killed: @test.TotalMutationsKilledResult / @test.TotalResult</label>
                                                }
                                                else
                                                {
                                                    <label class="text-warning" style="float: right;">Mutants killed: @test.TotalMutationsKilledResult / @test.TotalResult</label>
                                                }
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsecase@(i)@(y)" class="collapse" aria-labelledby="headingcase@(i)@(y)" data-parent="#AccordionTestProject@(i)">
                                        <div class="card-body">
                                            <div class="accordion" id="AccordionTest@(i)@(y)">
                                                @for (var x = 0; x < test.Mutations.Count; x++)
                                                {
                                                    var mutationsGroupingReportModel = test.Mutations[x];
                                                    <div class="card">
                                                        <div class="card-header" id="headinggroup@(i)@(y)@(x)" style="padding: 0%;">
                                                            <h5 class="mb-0">
                                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsegroup@(i)@(y)@(x)" aria-expanded="true" aria-controls="collapsegroup@(i)@(y)@(x)" style="color: black; height: 100%; text-align: left; width: 100%;">
                                                                    @mutationsGroupingReportModel.Name
                                                                    @if (mutationsGroupingReportModel.TotalMutationsKilledMutation == mutationsGroupingReportModel.TotalMutation)
                                                                    {
                                                                        <label class="text-success" style="float: right;">Mutants killed: @mutationsGroupingReportModel.TotalMutationsKilledMutation / @mutationsGroupingReportModel.TotalMutation</label>
                                                                    }
                                                                    else if (mutationsGroupingReportModel.TotalMutationsSurvivedMutation == mutationsGroupingReportModel.TotalMutation)
                                                                    {
                                                                        <label class="text-danger" style="float: right;">Mutants killed: @mutationsGroupingReportModel.TotalMutationsKilledMutation / @mutationsGroupingReportModel.TotalMutation</label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="text-warning" style="float: right;">Mutants killed: @mutationsGroupingReportModel.TotalMutationsKilledMutation / @mutationsGroupingReportModel.TotalMutation</label>
                                                                    }
                                                                </button>
                                                            </h5>
                                                        </div>

                                                        <div id="collapsegroup@(i)@(y)@(x)" class="collapse" aria-labelledby="headinggroup@(i)@(y)@(x)" data-parent="#AccordionTest@(i)@(y)">
                                                            <div class="card-body">
                                                                <div class="accordion" id="AccordionMutation@(i)@(y)@(x)">
                                                                    @for (var z = 0; z < mutationsGroupingReportModel.MutationResults.Count; z++)
                                                                    {
                                                                        var mutationReportModel = mutationsGroupingReportModel.MutationResults[z];
                                                                        <div class="card">
                                                                            <div class="card-header" id="headingmutatie@(i)@(y)@(x)@(z)" style="padding: 0%;">
                                                                                <h5 class="mb-0">
                                                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsemutatie@(i)@(y)@(x)@(z)" aria-expanded="true" aria-controls="collapsemutatie@(i)@(y)@(x)@(z)" style="color: #6e798a; height: 100%; text-align: left; width: 100%;">
                                                                                        @mutationReportModel.Name
                                                                                        @if (mutationReportModel.Status == MutationReportModel.MutationStatus.Killed)
                                                                                        {
                                                                                            <label class="text-success" style="float: right;">Killed</label>
                                                                                        }
                                                                                        else if (mutationReportModel.Status == MutationReportModel.MutationStatus.Timeout)
                                                                                        {
                                                                                            <label class="text-success" style="float: right;">Timeout</label>
                                                                                        }
                                                                                        else if (mutationReportModel.Status == MutationReportModel.MutationStatus.NoCoverage)
                                                                                        {
                                                                                            <label class="text-danger" style="float: right;">NoCoverage</label>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <label class="text-danger" style="float: right;">Survived</label>
                                                                                        }
                                                                                    </button>
                                                                                </h5>
                                                                            </div>

                                                                            <div id="collapsemutatie@(i)@(y)@(x)@(z)" class="collapse" aria-labelledby="headingmutatie@(i)@(y)@(x)@(z)" data-parent="#AccordionMutation@(i)@(y)@(x)">
                                                                                <div class="card-body">
                                                                                    @mutationReportModel.Description
                                                                                    <h6>Original Source</h6>
                                                                                    <pre><code class="language-csharp">@mutationReportModel.OriginalSource</code></pre>

                                                                                    <h6>Mutated Source</h6>
                                                                                    <pre><code class="language-csharp">@mutationReportModel.MutatedSource</code></pre>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-header infopanel">
        <ul>
            # Test Session Duration: @Model.Duration
        </ul>
        <ul>
            Total amount of possible mutations: @Model.Total
        </ul>
        <ul>
            # Mutants killed: @Model.TotalKilled
        </ul>
        <ul>
            # Mutants survived: @Model.TotalSurvived
        </ul>
        <ul>
            # Mutants timed out: @Model.TotalTimedOut
        </ul>
        <ul>
            # Mutations without coverage: @Model.TotalNoCoverage
        </ul>
        <ul>
            <label>
                Mutation Score:
            </label>
            <div class="progress">

                @if (Model.ScoreAsInt == 100)
                {
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: @Model.ScoreString" aria-valuenow="@Model.ScoreAsInt" aria-valuemin="0" aria-valuemax="100">@Model.ScoreString</div>
                }
                else if (Model.ScoreAsInt > 50 && Model.ScoreAsInt < 100)
                {
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: @Model.ScoreString" aria-valuenow="@Model.ScoreAsInt" aria-valuemin="0" aria-valuemax="100">@Model.ScoreString</div>
                }
                else
                {
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: @Model.ScoreString" aria-valuenow="@Model.ScoreAsInt" aria-valuemin="0" aria-valuemax="100">@Model.ScoreString</div>
                }
            </div>
        </ul>
    </div>
</div>
</body>