@using Faultify.Report
@model MutationProjectReportModel

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-clike.min.js" integrity="sha512-xXwwAe8scUySEhtfaHNqIBors65zyXbtpUOwKjOxesrIwna3Aca9XqcomKMx22u84uRTzsx1Hm7cIM/s1XPzgQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-csharp.min.js" integrity="sha512-c+g36Rm5HvMUIjUwTcEA9iVkFtNJrCDDNubbaUEhCuHcEnXRcsnJRVjoEK1k9OryJnu5vF7IW40vjV5F1EfXRw==" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        #TopTitle {
            margin-bottom: 2%;
            margin-top: 1%;
            text-align: center;
        }

        #accordionExample {
            float: left;
            height: 100%;
            margin-left: 0.5%;
            margin-right: 0.5%;
            width: 70%;
        }

        .infopanel {
            border-color: rgba(0, 0, 0, .125);
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            float: left;
            width: 28.5%;
        }

        .infolist {
            margin: 0;
            padding: 0;
        }

        .btn:hover {
            background-color: lightgrey;
            text-decoration: none;
        }

        .btn:focus, .btn.active { text-decoration: none; }

        .btn { text-decoration: none; }
    </style>
</head>

<body>
<div>
    <h1 id="TopTitle">@Model.Name</h1>
</div>
<div>
    <div class="accordion" id="accordionExample">
        @for (var i = 0; i < Model.TestProjects.Count; i++)
        {
            var testProject = Model.TestProjects[i];
            <div class="card">
                <div class="card-header" id="headingproj@(i)" style="padding: 0%;">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseproj@(i)" aria-expanded="true" aria-controls="collapseproj@(i)" style="color: black; height: 100%; text-align: left; width: 100%;">
                            @testProject.TestProjectName
                            @if (testProject.MutationsKilled == testProject.TotalMutations)
                            {
                                <label class="text-success" style="float: right;">Mutants killed: @testProject.MutationsKilled / @testProject.TotalMutations </label>
                            }
                            else if (testProject.MutationsSurvived == testProject.TotalMutations)
                            {
                                <label class="text-danger" style="float: right;">Mutants killed: @testProject.MutationsKilled / @testProject.TotalMutations</label>
                            }
                            else
                            {
                                <label class="text-warning" style="float: right;">Mutants killed: @testProject.MutationsKilled / @testProject.TotalMutations</label>
                            }

                        </button>
                    </h5>
                </div>

                <div id="collapseproj@(i)" class="collapse" aria-labelledby="headingproj@(i)" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="accordion" id="AccordionTestProject@(i)">
                            @for (var y = 0; y < testProject.Mutations.Count; y++)
                            {
                                var mutation = testProject.Mutations[y];

                                <div class="card">
                                    <div class="card-header" id="headingmutatie@(i)@(y)" style="padding: 0%;">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsemutatie@(i)@(y)" aria-expanded="true" aria-controls="collapsemutatie@(i)@(y)" style="color: #6e798a; height: 100%; text-align: left; width: 100%;">
                                                @mutation.Name -
                                                @if (mutation.TestStatus == MutationStatus.Killed)
                                                {
                                                    <label class="text-success" style="float: right;">Killed</label>
                                                }
                                                else if (mutation.TestStatus == MutationStatus.Timeout)
                                                {
                                                    <label class="text-success" style="float: right;">Timeout</label>
                                                }
                                                else if (mutation.TestStatus == MutationStatus.NoCoverage)
                                                {
                                                    <label class="text-danger" style="float: right;">NoCoverage</label>
                                                }
                                                else
                                                {
                                                    <label class="text-danger" style="float: right;">Survived</label>
                                                }
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsemutatie@(i)@(y)" class="collapse" aria-labelledby="headingmutatie@(i)@(y)" data-parent="#collapsemutatie@(i)@(y)">
                                        <div class="card-body">
                                            @mutation.Description

                                            <h6>Original Source</h6>
                                            <pre><code class="language-csharp">@mutation.OriginalSource</code></pre>

                                            <h6>Mutated Source</h6>
                                            <pre><code class="language-csharp">@mutation.MutatedSource</code></pre>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-header infopanel">
        <ul>
            # Test Session TestTestSessionDuration: @Model.TestDuration
        </ul>
        <ul>
            Total amount of possible mutations: @Model.TotalMutations
        </ul>
        <ul>
            # Mutants killed: @Model.TotalMutationsKilled,
        </ul>
        <ul>
            # Mutants survived: @Model.TotalMutationsSurvived,
        </ul>
        <ul>
            # Mutants timed out: @Model.TotalMutationsTimedOut,
        </ul>
        <ul>
            # Mutations without coverage: @Model.TotalMutationsNoCoverage
        </ul>
        <ul>
            <label>
                Mutation ScorePercentage:
            </label>
            <div class="progress">

                @if (Model.ScorePercentage == 100)
                {
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: @Model.ScorePercentage%" aria-valuenow="@Model.ScorePercentage" aria-valuemin="0" aria-valuemax="100">@Model.ScorePercentage%</div>
                }
                else if (Model.ScorePercentage > 50 && Model.ScorePercentage < 80)
                {
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: @Model.ScorePercentage%" aria-valuenow="@Model.ScorePercentage" aria-valuemin="0" aria-valuemax="100">@Model.ScorePercentage%</div>
                }
                else
                {
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: @Model.ScorePercentage%" aria-valuenow="@Model.ScorePercentage" aria-valuemin="0" aria-valuemax="100">@Model.ScorePercentage%</div>
                }
            </div>
        </ul>
    </div>
</div>
</body>